<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.mapper.ideaDemo.UserMapper">
    <resultMap id="User" type="com.edu.dao.domain.User">
        <result property="id" column="id"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
    </resultMap>
    <sql id="column_list">
        id,
        username,
        password
    </sql>
    <select id="getUserByName" resultMap="User">
        select <include refid="column_list" /> from users where username = #{NAME}
    </select>
    
    <insert id="insertUserList">
        INSERT INTO users(<include refid="column_list" />)
        VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.username},
            #{pojo.password}
            )
        </foreach>

    </insert>
</mapper>